# Create .env file on the same level as .env.example
 
# TODO: Chapter 1.4
# Enter the following settings.
SKIP_PREFLIGHT_CHECK=true
PORT=3000

# TODO: Chapter 2.1
# Еnter a valid license key for io.Connect Browser.
VITE_LICENSE_KEY=